



        <div class="bannerSlim" style="background-image: url('images/banner.png'); background-position-y: 55%;">
            <div class="bannerWrap"></div>
            <h2 translate>LAYOUT_CART_LINK</h2>
        </div>
        <div  class="wrapper clearfix">
            <!-- SVG Sprite -->
            <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
                <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
                    <symbol id="ripply-scott" viewBox="0 0 100 100">
                        <circle id="ripple-shape" cx="1" cy="1" r="1" />
                    </symbol>
                </svg>
            </div>

            <div class="breadCrumbs">
                <a href="#" translate>LAYOUT_MAIN_LINK</a>
                <div class="delimeter"></div>
                <a href="#" translate>LAYOUT_CART_LINK</a>
            </div>


            <div   ng-repeat="product in products track by $index"   class="clearfix productCartRow" cart-directive  product="product" products="products" >


            </div>


            <div class="clearfix">
                <div class="clearfix productCartRow cartAllCount">

                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productCartText cartCol">

                        <h3 class="text-left" style="margin-bottom: 0px;" translate>LAYOUT_TOTAL_LINK</h3>

                    </div>
                    <div class="text-center empty col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">

                    </div>
                    <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">
                        <span style="font-size: 18px; font-weight: normal" id="totalCountVitamin"></span>
                    </div>
                    <div ng-model="totalSum"  class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">
                        $<span style="font-size: 18px; font-weight: normal" id="totalSumVitamin"></span>

                    </div>
                    <div class="text-center empty col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">

                    </div>
                </div>
            </div>
            <div id="MoreVitamins"
                 class="more">
                <button ui-sref="checkout"  id="js-ripple-btn" class="button styl-material" translate>
                    LAYOUT_CHECKOUT_LINK
                    <svg class="ripple-obj" id="js-ripple">
                        <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                    </svg>
                </button>
            </div>
        </div>


