<div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label >

        <input  ng-model="name" ng-change="nameReject()" class=""  placeholder="Ваше имя">
        <p id="correctName" style="font-size: 12px; color:red; display: none; margin-top: -5px; font-weight: lighter">Name is not correct!</p>
    </label>
</div>
<div class="telInp inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label>

        <input ng-model="email" ng-change="emailReject()" class=""  placeholder="Контактный email">
        <p id="correctEmail" style="font-size: 12px; color:red; display: none; margin-top: -5px; font-weight: lighter">Email is not correct!</p>
    </label>
</div>
<div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label>

        <input ng-model="phone" ng-change="phoneReject()" class=""  placeholder="Контактный телефон">
        <p id="correctPhone" style="font-size: 12px; color:red; display: none; margin-top: -5px; font-weight: lighter">Phone is not correct!</p>
    </label>
</div>
<div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label>

        <input class=""  placeholder="Адресс доставки">
    </label>
</div>
<div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <textarea></textarea>
</div>