

<div class="bannerSlim" style="background-image: url('images/banner.png');
        background-position-y: 55%;">
    <div class="bannerWrap"></div>
    <h2 ng-bind="product.ProductTitle">Название продукта</h2>
</div>
<div class="wrapper clearfix">
    <!-- SVG Sprite -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
        <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
            <symbol id="ripply-scott" viewBox="0 0 100 100">
                <circle id="ripple-shape" cx="1" cy="1" r="1" />
            </symbol>
        </svg>
    </div>

    <div class="clearfix product">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 productImg">
            <img src="images/vitamin1.png" alt="">
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productText">

            <div class="productBlock">
                <h3 ng-bind-template="${{product.ProductPrice}}" class="productPrice">$99,00</h3>
                <div class="productToCart">
                    <div ng-show="!product.isInCart" class="clearfix buttonBlock">
                        <input id="countVitamin" class="input" type="text" value="1">
                        <button ng-click="AddProduct()" id="js-ripple-btn" class="button styl-material" translate>
                            LAYOUT_ADD_TO_CART_LINK
                            <svg class="ripple-obj" id="js-ripple">
                                <use height="100" width="100" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ripply-scott" class="js-ripple"></use>
                            </svg>
                        </button>
                    </div>
                    <div ng-show="product.isInCart" class="clearfix buttonBlock" >
                        <div class="inCart" translate>LAYOUT_ALREADY_IN_CART_LINK</div>
                    </div>

                </div>
                <h3 translate>LAYOUT_DESCRIPTION_LINK</h3>
                <p ng-bind="product.ProductDescription"></p>


            </div>

        </div>

    </div>
    <div class="clearfix product">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 productText">

            <div single-directive product="product">




            </div>

        </div>
    </div>
</div>
