
    <div class="bannerSlim" style="background-image: url('images/banner.png'); background-position-y: 55%;">
        <div class="bannerWrap"></div>
        <h2>Оформить заказ</h2>
    </div>
    <div class="wrapper clearfix">
        <!-- SVG Sprite -->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
                <symbol id="ripply-scott" viewBox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>

        <div class="clearfix">

            <div class="checkoutOrder col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h2>Персональные данные:</h2>
                <div class="clearfix" form-directive name="name" email="email" phone="phone">

                </div>

                <h2>Оплата:</h2>
                <div class="clearfix">
                    <div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>

                            <input class=""  placeholder="Номер карты">
                        </label>
                    </div>
                    <div class="telInp inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="cs-select cs-skin-border">
                            <option value="" disabled selected>Выберите год</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class=" inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="cs-select cs-skin-border">
                            <option value="" disabled selected>Выберите год</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class=" inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>

                            <input class=""  placeholder="CVV код">
                        </label>
                    </div>
                    <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>

                            <input class=""  placeholder="Имя карты">
                        </label>
                    </div>

                </div>

                <div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button id="js-ripple-btn" class="button styl-material">
                        Подтвердить заказ
                        <svg class="ripple-obj" id="js-ripple">
                            <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                        </svg>
                    </button>
                </div>

            </div>
            <div class="checkout col-lg-6 col-md-6 col-sm-12 col-xs-12 " checkout-directive products="products" promos="promos">
                <h2>Содержание заказа:</h2>

            </div>
            <div class="checkoutOrder col-lg-6 col-md-6 col-sm-12 col-xs-12 ">


            </div>
        </div>
    </div>
